<div id="container">
	<div id="header">
		<div id="icon">

			<img src="http://i1138.photobucket.com/albums/n526/ingidio/logo1-1.png" href="#">
		</div>
		<div id="popup">
  		<div id="popwrap">
      <%= render 'description' %>
    </div> 
	</div>
</div>
			
<div id="splash">
   <div id="formwrap">

<!--<%- flash.each do |name, msg| -%> 
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<%- end -%>-->
<div id="myform">
<%= render 'shared/form' %>
</div>
		</div>

				<br>
				<p>We will never share or sell your info.</p>         
		<div id="error"></div>
	</div>
	<div id="uid"></div>
	<div id="footer_bottom">
	  <div class="copyright">© 2011 Ingidio - All rights reserved</div>

  		<div class="platforms">
				<ul>
          <li><%= image_tag 'windows1.png',:media => 'screen' , :onmouseover => "this.src='/images/windows.png'", :onmouseout => "this.src='/images/windows1.png'"%>
          <li><%= image_tag 'playstation1.png',:media => 'screen', :onmouseover => "this.src='/images/playstation.png'", :onmouseout => "this.src='/images/playstation1.png'" %>
          <li><%= image_tag 'wii1.png',:media => 'screen' , :onmouseover => "this.src='/images/wii.png'", :onmouseout => "this.src='/images/wii1.png'"%>
          <li><%= image_tag 'xbox1.png',:media => 'screen', :onmouseover => "this.src='/images/xbox.png'", :onmouseout => "this.src='/images/xbox1.png'" %>
				</ul>
			</div>
</div>
</div>
