		<div id="container">
			<div id="header">
				<div id="icon">

          <%= image_tag 'logo.png',:media => 'screen' %>
				</div>
				<div id="popup">
					<div id="popwrap">Indigio allows you to go on an adventure in a fantasy world and be rewarded with real life things. </div>
				</div>
			</div>
			
			<div id="splash">
        
                <div id="formwrap">
<% [:info, :error].each do |key| %>
   <% if flash[key] %>
   <div class="<%= key %>" id="flash">
     <%= flash[key] %>
   </div>
   <% end %>
 <% end %>
           <%= form_for @betasignup, :url => { :action => "create" }, :html => {:class => "nifty_form"} do |f| %>
						<input type="text" name="betasignups[username]" id="name" value="" placeholder="Enter your real or gamer name"> <br> 	
						<input type="text" name="betasignups[email]" id="email" value="" placeholder="Enter your email address"> <br>
						<button type="submit" class="submit" id="betasignups_submit" name="commit">Sign up for Beta</button>
          <% end %>
					<br>
					<p>We will never share or sell your info.</p>         
				</div>
				<div id="error"></div></div><div id="uid"></div>
				<div id="footer_bottom">
				<div class="copyright">© 2011 Ingidio - All rights reserved</div>
				<div class="platforms">
				<ul>
          <li><%= image_tag 'windows1.png',:media => 'screen' %>
          <li><%= image_tag 'playstation1.png',:media => 'screen' %>
          <li><%= image_tag 'wii1.png',:media => 'screen' %>
          <li><%= image_tag 'xbox1.png',:media => 'screen' %>
				</ul>
			</div>
		</div>
	</div>
