		<div id="container">
			<div id="header">
				<div id="icon">

          <%= image_tag 'logo.png',:media => 'screen' %>
				</div>
				<div id="popup">
					<div id="popwrap">Indigio allows you to go on an adventure in a fantasy world and be rewarded with real life things. </div>
				</div>
			</div>
			
			<div id="splash">
					<h1>Thank you for signing up! We'd love to have you play around with our beta! </h1>
          <%= render 'successmessage' %>
          <br>
          <p>We're still in development and so we're not quite open for business. </p>
          <p> But rest assured, our coders and busy locked away in our code-dungeons, given plenty of junk food, <br>never exposed to natural sunlight, and furiously pulling together the stream.</p>         
				</div>
				<div id="error"></div></div><div id="uid"></div>
				<div id="footer_bottom">
				<div class="copyright">© 2011 Ingidio - All rights reserved</div>
				<div class="platforms">
				<ul>
          <li><%= image_tag 'windows1.png',:media => 'screen' %>
          <li><%= image_tag 'playstation1.png',:media => 'screen' %>
          <li><%= image_tag 'wii1.png',:media => 'screen' %>
          <li><%= image_tag 'xbox1.png',:media => 'screen' %>
				</ul>
			</div>
		</div>
	</div>
